<?xml version='1.0' encoding='utf-8'?>
<widget id="email.hollo.app" version="0.1.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hollo</name>
    <description>
        Hollo mobile
    </description>
    <author email="dev@hollo.email" href="https://app.hollo.email">
        Vladimir Osipov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="StatusBarBackgroundColor" value="#7a4df9" />
    <preference name="EnableWebGL" value="true" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <icon src="assets/icon.png" />
    <splash src="assets/splash.png" />
    <platform name="android">
        <icon density="ldpi" src="assets/android/android-icon-36x36.png" />
        <icon density="mdpi" src="assets/android/android-icon-48x48.png" />
        <icon density="hdpi" src="assets/android/android-icon-72x72.png" />
        <icon density="xhdpi" src="assets/android/android-icon-96x96.png" />
        <icon density="xxhdpi" src="assets/android/android-icon-144x144.png" />
        <icon density="xxxhdpi" src="assets/android/android-icon-192x192.png" />
        <allow-intent href="market:*" />
        <preference name="AndroidLaunchMode" value="singleTask"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="assets/ios/LaunchImage.appiconset/320-480.png" width="320" height="480" />
        <splash src="assets/ios/LaunchImage.appiconset/640-960.png" width="640" height="960" />
        <splash src="assets/ios/LaunchImage.appiconset/768-1024.png" width="768" height="1024" />
        <splash src="assets/ios/LaunchImage.appiconset/1536-2048.png" width="1536" height="2048" />
        <icon height="60" src="assets/ios/AppIcon.appiconset/apple-icon-60x60.png" width="60" />
        <icon height="120" src="assets/ios/AppIcon.appiconset/apple-icon-120x120.png" width="120" />
        <icon height="76" src="assets/ios/AppIcon.appiconset/apple-icon-76x76.png" width="76" />
        <icon height="152" src="assets/ios/AppIcon.appiconset/apple-icon-152x152.png" width="152" />
        <icon height="40" src="assets/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="assets/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
        <icon height="57" src="assets/ios/AppIcon.appiconset/apple-icon-57x57.png" width="57" />
        <icon height="114" src="assets/ios/AppIcon.appiconset/apple-icon-114x114.png" width="114" />
        <icon height="72" src="assets/ios/AppIcon.appiconset/apple-icon-72x72.png" width="72" />
        <icon height="144" src="assets/ios/AppIcon.appiconset/apple-icon-144x144.png" width="144" />
        <icon height="29" src="assets/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="assets/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" />
        <icon height="50" src="assets/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="assets/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" />
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="calshow://*/*" />
    <allow-intent href="mailto:*" />
    <engine name="android" spec="~5.0.0" />
    <plugin name="cordova-plugin-googleplus" spec="~5.1.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.438214337744-g3fvlfhtspd14i8bqeosirdu9o3v613u" />
    </plugin>
</widget>
