<?xml version='1.0' encoding='utf-8'?>
<widget id="email.hollo.app" version="0.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hollo</name>
    <description>
        Hollo mobile app.
    </description>
    <author email="dev@hollo.email" href="https://app.hollo.email">
        Vladimir Osipov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="BackgroundColor" value="0xff7a4df9" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="StatusBarBackgroundColor" value="#7a4df9" />
    <preference name="EnableWebGL" value="true" />
    <icon src="assets/icon.png" />
    <platform name="android">
        <icon density="ldpi" src="assets/icon.png" />
        <icon density="mdpi" src="assets/icon.png" />
        <icon density="hdpi" src="assets/icon.png" />
        <icon density="xhdpi" src="assets/icon.png" />
        <icon density="xxhdpi" src="assets/icon.png" />
        <icon density="xxxhdpi" src="assets/icon.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="calshow://*/*" />
    <engine name="android" spec="~5.0.0" />
</widget>
