<?xml version='1.0' encoding='utf-8'?>
<widget id="email.hollo.app" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hollo</name>
    <description>
        Hollo mobile app.
    </description>
    <author email="dev@hollo.email" href="https://app.hollo.email">
        Vladimir Osipov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="android-minSdkVersion" value="19" />
    <icon src="assets/icon.png" />
    <platform name="android">
        <icon src="assets/icon.png" density="ldpi" />
        <icon src="assets/icon.png" density="mdpi" />
        <icon src="assets/icon.png" density="hdpi" />
        <icon src="assets/icon.png" density="xhdpi" />
        <icon src="assets/icon.png" density="xxhdpi" />
        <icon src="assets/icon.png" density="xxxhdpi" />
    </platform>
    <allow-navigation href="*" />
</widget>
